/* ====================================
// css variables
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "fa-sharp";
  src: url(../fonts/fa-sharp-solid-900.woff2) format(woff2);
}

@font-face {
  font-family: helvetica-neue;
  src: url(../fonts/HelveticaNeue-01.woff2) format(woff2);
}

:root {
  --icon-font: fa-sharp;
  --font-main: helvetica-neue;
  --color-main: #000000;
  --color-second: #ffffff;
  --color-enhanced: #ff0000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  font-family: var(--font-main);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.icons {
  font-family: var(--icon-font);
}

.in-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  width: 100%;
}

header {
  background-color: var(--color-main);
  position: sticky;
  top: 0;
  z-index: 1000;

  .icons {
    color: #fff;
    font-size: 33px;
    line-height: 0;
  }
}

.giant-logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 52px 0;
}

.row-logo {
  justify-content: center;
}

.giant-logo {
  width: 100%;
}

nav {
  color: #fff;
}

.bg-card-founder {
  background-color: #000;
  background-image: url(../img/bg-card-founder.webp);
}

.bg-special-fx {
  backdrop-filter: blur(7px);
  width: 100%;
}

.card-founder {
  color: #fff;
  user-select: none;
}

.underline {
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.underlining {
  width: 100%;
}

.text-container-header {
  overflow: hidden;
  border-bottom: solid #000 3px;
  border-top: solid #000 3px;

  .text-anim {
    white-space: nowrap;
  }
}

.events {
  background-color: var(--color-main);
  color: var(--color-second);

  .event-article {
    margin-bottom: 150px;
    :last-of-type {
      margin-bottom: 0;
    }
    .article-info {
      .article-date {
        opacity: 30%;
        font-size: 26px;
        line-height: 31px;
      }
      .article-title {
        font-size: 45px;
        line-height: 54px;
        font-weight: 600;
      }
      .article-resume {
        font-size: 28px;
        line-height: 33px;
      }
    }
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  padding: 36px 0 22px;
}

figure {
  position: relative;
}

.cover-square {
  width: 25px;
  height: 25px;
  background-color: var(--color-enhanced);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;

  .CS-input {
    display: none;
  }
}

.coverSquareOn {
  width: 100%;
  height: 100%;
  background-color: #ff000044;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  .CS-input {
    color: var(--color-second);
    display: block;
    border: solid var(--color-second) 3px;
    padding: 15px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    // backdrop-filter: blur(3px);

    a {
      text-decoration: none;
    }
  }
}

.event-article {
  margin-bottom: 150px;
  :last-of-type {
    margin-bottom: 89px;
  }
  .article-info {
    .article-date {
      opacity: 30%;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.btn-more {
  padding: 13px 17px;
  font-size: 31px;
  border: solid var(--color-second) 3px;
  text-decoration: none;
  span {
    margin-left: 38px;
  }
  .underline {
    height: 3px;
  }
  .underlining {
    height: 3px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .nav-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .card-founder {
    font-size: 16px;
    padding: 33.75px 0 47.75px;

    .micro-title {
      opacity: 0.47;
      font-family: HelveticaNeue-Medium;
      font-size: 10px;
    }
  }

  h2 {
    font-size: 48px;
  }

  .events {
    article {
      margin-bottom: 40px;
    }

    article:last-child {
      margin-bottom: 68px;
    }
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .in-header {
    display: block;
  }

  .menu-trigger {
    display: none;
  }

  .logo-header {
    display: none;
  }

  .card-founder {
    font-size: 45px;
    padding: 168px 0;
    transform: translateZ(0px);
    transition: 1s;

    .micro-title {
      opacity: 0.47;
      font-family: HelveticaNeue-Medium;
      font-size: 20px;
    }
  }

  .card-founder:hover {
    transform: translateZ(10px);
  }

  .event-article {
    margin-bottom: 150px;
    :last-of-type {
      margin-bottom: 90px;
    }
    .article-info {
      .article-date {
      }
    }
  }
}
