/* ====================================
// css variables
// ==================================== */

@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "fa-sharp";
  src: url(../fonts/fa-sharp-solid-900.woff2) format(woff2);
}

:root {
  --icon-font: fa-sharp;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.icons {
  font-family: var(--icon-font);
  padding: 10px;
  background-color: red;
}
